body {
  font-family: 'Roboto Slab', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 26px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', sans-serif;
  color: #000;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  display: block;
  padding: 20px;
  background-color: #000;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 30px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.text-block {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12px;
}

.tag-holder {
  margin-bottom: 10px;
  padding: 10px 10px 20px;
  border-radius: 5px;
  background-color: #cebdd1;
  box-shadow: 0 0 50px 0 transparent;
  -webkit-transition: box-shadow 400ms ease;
  transition: box-shadow 400ms ease;
}

.tag-holder:hover {
  box-shadow: 0 0 75px 0 rgba(0, 0, 0, 0.07);
}

.tag-label {
  margin-top: 10px;
  color: #aaa;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.type-column-1 {
  padding-right: 20px;
}

.example-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 240px;
  height: 434px;
  margin-top: 24px;
  margin-bottom: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-image: url('../images/All-H1-headings-example.png');
  background-position: 0px 0px;
  background-size: 250px;
  box-shadow: 5px 5px 50px 0 rgba(0, 0, 0, 0.3);
  color: rgba(34, 34, 34, 0);
}

.example-image:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.63)), to(rgba(0, 0, 0, 0.63))), url('../images/All-H1-headings-example.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url('../images/All-H1-headings-example.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 250px;
  color: #fff;
  text-shadow: 1px 1px 10px #000;
}

.type-column-2 {
  padding-top: 30px;
  padding-left: 20px;
}

.tags-section {
  position: relative;
  display: block;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 75px 0 rgba(0, 0, 0, 0.05);
}

.tag-divider {
  width: 100%;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #f3f3f5;
}

.tags-subhead {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 4px;
  background-color: rgba(236, 56, 114, 0.1);
  color: #ec3872;
}

.tag-title {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  margin-top: 0px;
  padding-top: 5px;
  padding-left: 18px;
  color: #222;
  font-size: 22px;
  line-height: 44px;
  font-weight: 500;
  text-transform: uppercase;
}

.h1-primary {
  color: #51dfac;
}

.h1-white {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 48px;
  line-height: 63px;
}

.body {
  font-family: 'Roboto Slab', sans-serif;
}

.heading {
  color: #fff;
}

.h2-primary {
  color: #51dfac;
}

.h2-white {
  color: #fff;
}

.h3-white {
  color: #fff;
}

.h3-primary {
  color: #51dfac;
}

.h4-white {
  color: #fff;
}

.h4-primary {
  color: #51dfac;
}

.sticky-nav-2 {
  position: fixed;
  top: 0px;
  z-index: 1;
  display: block;
  width: 100%;
  height: 48px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 20px;
  background-color: #000;
}

.nav-logo-link-2 {
  display: block;
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo-2 {
  width: auto;
  height: 29px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block-2 {
  margin-left: 8px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.container {
  position: static;
  display: block;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/herobg.png');
  background-position: 0px 0px;
  background-size: cover;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-mask {
  width: 100%;
  margin-left: 40px;
}

.hero-image {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.container-3 {
  display: block;
  height: 100%;
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  max-width: none;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.28)), to(rgba(0, 0, 0, 0.31)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.31));
}

.text-span {
  color: #51dfac;
}

.text-span-2 {
  color: #51dfac;
}

.p-white {
  margin-bottom: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-weight: 600;
}

.button-primary {
  background-color: #51dfac;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.div-block-2 {
  width: 100%;
  max-width: 480px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.section {
  height: 100vh;
  background-color: #e5eceb;
}

.section-2 {
  height: 100vh;
  background-color: #000;
}

@media screen and (min-width: 1440px) {
  .h1-white {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 63px;
  }

  .sticky-nav-2 {
    position: fixed;
    display: block;
    white-space: nowrap;
  }

  .container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    max-width: 1440px;
    margin-top: auto;
    margin-bottom: auto;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .body-2 {
    height: auto;
    max-height: 0vh;
    background-color: red;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    max-width: none;
    min-height: 100%;
    padding-top: 48px;
    padding-bottom: 0px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: url('../images/herobg.png');
    background-position: 0px 0px;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .container-2 {
    position: relative;
    max-width: none;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .container-3 {
    position: relative;
    display: block;
    height: 100%;
    max-width: 100%;
    padding-right: 0px;
    padding-bottom: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.28)), to(rgba(0, 0, 0, 0.31)));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.31));
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text-span {
    color: #51dfac;
  }

  .text-span-2 {
    color: #51dfac;
  }

  .p-white {
    margin-bottom: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-weight: 600;
  }

  .button-primary {
    background-color: #51dfac;
    color: #000;
    font-size: 14px;
    font-weight: 700;
  }

  .div-block-2 {
    max-width: 480px;
  }

  .section {
    background-color: #e5eceb;
  }
}

@media screen and (max-width: 991px) {
  .body-2 {
    white-space: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .sticky-nav-2 {
    position: relative;
  }

  .hero {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .sticky-nav-2 {
    padding: 0px;
  }

  .nav-logo-link-2 {
    border-top: 1px solid #c4c4c4;
  }
}

#w-node-b9798354-aefc-1bb4-1d51-319a9d863b5b-1258b531 {
  -ms-grid-column-align: start;
  justify-self: start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-b9798354-aefc-1bb4-1d51-319a9d863b5b-1258b531 {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

